<h1>Forms</h1>
<form method="get" action="/form-example">
  <label for="text-field-example">Text Field:</label>
  <input id="text-field-example" type="text" name="text_field">
  <br>

  <label for="email-field-example">Email Field:</label>
  <input id="email-field-example" type="email" name="email_field">
  <br>

  <input type="submit" value="Submit Me!">
</form>
